---
import Bio from "../parts/Bio.astro";
import Contact from "../parts/Contact.astro";
import Picture from "../parts/Picture.astro";
---

<div class="left">
    <Bio/>
    <Contact/>
</div>

<div class="right">
    <Picture/>
</div>

<style>
     .left, .right {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 2vw;
    } 

    .left {
        flex-direction: column;
    }

</style>
