---
import '@fontsource/fredoka-one';
---

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"/>

<div class="warning">
    <noscript>
        Howdy! This website was made with you in mind. Feel free to keep JS disabled. <br>
        You'll just have to scroll to the bottom without help :)
    </noscript>
</div>

<div class="content">
    <img class="topsvg" src="/sprite.svg" alt="" />
    <h1>
        Hi! I'm Dj
        <span class="subtitle">I make dreams come true</span>
    </h1>

    <h2>Let's get to know each other </h2>

    <iconify-icon
        icon="heroicons:chevron-double-down-20-solid" 
        width="50" 
        height="50"/>
</div>

<script>
    const scrolltrigger: HTMLElement = document.querySelector("iconify-icon") as HTMLElement
    const scrolldest = document.querySelector(".welcome")

    scrolltrigger?.addEventListener('click', () => {
        scrollTo({top: scrolldest?.clientHeight, behavior: 'smooth'})
    })
</script>

<style>
    .topsvg {
        max-width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 50%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .subtitle {
        display: block;    
        font-size: smaller;
    }

    iconify-icon {
        cursor: pointer;
        margin: 10px;
    }

    h1 {
        font-family: 'Fredoka One';
        text-align: center;
        font-size: 50px;
        margin: 0;
        padding: 0;
        padding-top: 50px;
    }

    h2 {
        font-weight: 100;
    }
</style>