---
import Layout from '../layouts/Layout.astro';
import FullPageView from '../components/FullPageView.astro';
---

<Layout title="single homepage">
	<FullPageView>
		<h1>This is the first full-height page section.</h1>
	</FullPageView>
	
	<FullPageView>
		<h1>This is the second full-height page section.</h1>
	</FullPageView>
	
	<FullPageView>
		<h1>This is the third full-height page section.</h1>
	</FullPageView>	  
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
