---
import Layout from '../layouts/Layout.astro';
import FullPageView from '../components/FullPageView.astro';
import Welcome from '../components/parts/Welcome.astro';

---

<Layout title="single homepage">
	<FullPageView>
		<Welcome/>
	</FullPageView>
	
	<FullPageView>
		<h1>This is the second full-height page section.</h1>
	</FullPageView>
	
	<FullPageView>
		<h1>This is the third full-height page section.</h1>
	</FullPageView>	  
</Layout>
