/* custom.css overrides neat so that we can make changes to the framework without conflicts */

:root { 
    /* Removes an ugly top border. See codazoda/neatcss#46 */
    border-top: none;
    /* Updates colors to my colorway on light theme. */
    --light: #9777c2;  
    --lesslight: #8a65ba;
    --dark: #fefefe;
    --moredark: #eee;
}

/* Updates colors to my colorway on dark theme. "confusingly inverse" */
@media (prefers-color-scheme: dark) {
    :root {
        --light: #8a65ba;
        --lesslight: #9777c2;
        --dark: #eee;
        --moredark: #fefefe;
    }
}

/* Adds styling similiar to `input` for `progress` */
progress {
    vertical-align: baseline;
}

/* CSS Resetting -- https://www.joshwcomeau.com/css/custom-css-reset/ */
body {
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}
