---
const REF_LAT = 41.88280
const REF_LON = -87.62305
const ONE_KM = 1.60934 

const shouldUseMiles = Astro.locals.runtime.cf?.country === "US"
const refMiles = 35
const refKilometers = refMiles * ONE_KM 

/**
 * Adapted from https://stackoverflow.com/a/48805273/7038817
 * 
 * @param zero Changes the distance to 0 if the user is closeby, useful if you don't plan on exposing the distance.
 */
function calculateDistance(zero = false) {
    const refLatRad = REF_LAT * (Math.PI / 180.0)
    const refLonRad = REF_LON * (Math.PI / 180.0)
    const userLatRad = Number.parseFloat(Astro.locals.runtime.cf?.latitude as string) * (Math.PI / 180.0)
    const userLonRad = Number.parseFloat(Astro.locals.runtime.cf?.longitude as string) * (Math.PI / 180.0)

    // This is the Haversine Formula: https://en.wikipedia.org/wiki/Haversine_formula
    const a = Math.sin((refLatRad - userLatRad) / 2) ** 2 + Math.sin((refLonRad - userLonRad) / 2) ** 2 * Math.cos(refLatRad) * Math.cos(userLatRad)
    const c = 2 * Math.asin(Math.sqrt(a))

    let dist = 6371 * c

    if (shouldUseMiles) {
        dist /= ONE_KM
    }

    const threshold = shouldUseMiles ? refKilometers : refMiles;
    const nearby  = dist <= threshold;

    if (zero && nearby) {
        dist = 0
    }

    return {
        distance: dist.toFixed(2),
        units: shouldUseMiles ? "mi" : "km",
        nearby
    }
}

const {distance, units, nearby} = calculateDistance();
---

<p>
    We're ~{distance} {units} apart!
    {nearby && (
        <Fragment>
            Come say hi!
        </Fragment>
    )}
</p>

<style>
    span::after {
        content: "\0020"
    }
</style>
