---
interface Props {
    class?: string
}

const { class: classname } = Astro.props
---

<section id="full-page-view" class={classname}>
    <slot />
</section>

<style>
    #full-page-view {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: 100vh;
    }
</style>
