---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

import { ViewTransitions } from "astro:transitions";

// const { href, title, body } = Astro.props;
---

<ViewTransitions/>
	<section class="full-page-view">
	  <slot />
	</section>
</Transition>

<style>
	.full-page-view {
  		height: 100vh;
  		overflow-y: scroll;
	}
</style>
