---
import { Icon } from "astro-icon/components"
import Photo from "./photo.astro"
import Socials from "./socials.astro"
import Distance from "./distance.astro"
---

<div class="row">
    <div class="intro">
        <h1>
            Hi, I'm Dj
        </h1>

        <h3>
            I make dreams come true :)
        </h3>

        <span>
            <Icon
                name="heroicons:map-pin-16-solid"
                title="X, formerly known as Twitter"
                />
            <Distance server:defer/>
        </span>

        <Socials/>
    </div>

    <Photo/>
</div>

<style>
    .intro {
        align-content: center;
    }

    span {
        display: flex;
        align-items: center;
    }

    [data-icon] {
        margin-right: 8px;
    }

    @media (max-width: 600px) {
        .intro {
            text-align: center;
        }
    }
</style>