---
import DjPicture from "@assets/woodbine.jpg"
import { Image } from "astro:assets"
import Socials from "./socials.astro"

const IMG_ALT = "Woodbine Beach, Ontario"
---

<div class="row">
    <div class="intro">
        <h1>
            Hi, I'm Dj
        </h1>

        <p>
            I make dreams come true :)
        </p>

        <Socials/>
    </div>

    <figure>
        <Image src={DjPicture} loading="eager" title={IMG_ALT} alt={IMG_ALT} />

        <figcaption>{IMG_ALT}</figcaption>
    </figure>
</div>

<style>
    img {
        object-fit: cover;
        height: 256px;
        width: 256px;
        border-radius: 16px;
    }

    .intro {
        align-content: center;
    }

    figure {
        flex: 1;
        flex-direction: column;
        align-items: center;
    }

    figcaption {
        padding-top: 1em;
        text-align: center;
        width: 256px;
    }

    @media (min-width: 600px) {
        figure {
            margin-right: 0;
        }
    }

    @media (max-width: 600px) {
        .intro {
            text-align: center;
        }
    }
</style>