---
interface Props {
    class?: string;
}

const { class: classname } = Astro.props;
---

<section id="like-a-little-hats-height-view" class={classname}>
    <slot />
</section>

<style>
    #like-a-little-hats-height-view {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
</style>
