---
import { Icon } from "astro-icon/components"
---

<div class="socials">
    <a href="https://twitter.com/DeJayDev">
        <Icon
            name="simple-icons:x"
            title="X, formerly known as Twitter"
            width={32} 
            height={32}/>
    </a>
    <a href="mailto:contact@dejaydev.com">
        <Icon
            name="heroicons:envelope-open-20-solid"
            title="Email"
            width={32}
            height={32} />
    </a>
    <a href="https://discord.gg/qT7qGq6">
        <Icon 
            name="simple-icons:discord"
            title="Discord Link to 'Dj's Place'"
            width={32} 
            height={32}/>
    </a>
</div>

<style>
    .socials {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-top: 5%;
    }

    [data-icon] {
        color: var(--daark);
        transition: transform .33s ease-in-out;
    }

    [data-icon]:hover {
        transform: translateY(-25%);
    }

    @media (max-width: 600px) {
        .socials {
            justify-content: center;
        }
    }
</style>
