---
const _age = 21;
---

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"/>

<div class="left">
    <div class="about-me">
        I'm Dj, a <span class="age">{_age}</span> year old full stack engineer and project manager currently based in Texas.
        When I'm not working on something, you can find me planning my next adventure, pressing keys on the piano, or with my favorite people.                
        <br><br>
        I love making things that make people happy and I believe that programming is a form of creativity, so I'll try to keep my job fun however I can.
        I primarily work with content creators to create minigames, unique events, and smiles. 
        Being a freelancer gives me flexibility and freedom like nothing else.
        <br><br>
        I mostly produce events for Twitch Rivals with my team, but I also work with other content creators and streamers in the meantime.
        Think we could make something together? 
        Let's talk about it! 
        I'm happy to help you fully flesh out an idea, no matter how long the planning takes.
        <br><br>
        Feel free to contact me through my email or Discord. 
        I don't recommend Twitter DMs, but if that's your thing, that's an option too.
        <br><br>
        Just pick your preferred method from the list below:
    </div>
    <div class="contact">
        <a href="mailto:contact@dejaydev.com">
            <iconify-icon 
                icon="heroicons:at-symbol-20-solid" 
                width="50" 
                height="50"/>
        </a>
        <a href="https://djs.place">
            <iconify-icon 
                icon="simple-icons:discord" 
                width="50" 
                height="50"/>
        </a>
        <a href="https://twitter.com/DeJayDev">
            <iconify-icon 
                icon="simple-icons:x" 
                width="50" 
                height="50"/>
        </a>
    </div>
</div>

<div class="right">
    <figure>
        <img src="https://placehold.co/400x800.png"/>
        <figcaption>Lorem Ipsum or whatever</figcaption>
    </figure>
</div>

<script>
    const target: HTMLElement = document.querySelector(".age")! as HTMLElement
    var birthDate = new Date("2002-03-30"); 
    var currentDate: Date = new Date();
      
    var ageInMilliseconds = +currentDate - +birthDate;
    var ageInYears = ageInMilliseconds / (1000 * 60 * 60 * 24 * 365.25);
    target.innerHTML = ageInYears.toFixed(4);
    target.title = "As of " + currentDate.toLocaleString();
</script>

<style>
	.left, .right {
		display: flex;
    	justify-content: center;
    	align-items: center;
    	flex: 50%;
	}

    .left {
        margin: 2vw;
        flex-direction: column;
    }

    .about-me {
        font-size: 20px;
    }

    .contact {
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    iconify-icon {
        color: white;
    }

    figcaption {
        text-align: center;
    }
</style>
