---
import 'iconify-icon'
---

<div class="contact">
    <a href="mailto:contact@dejaydev.com">
        <iconify-icon
            icon="heroicons:envelope-open-20-solid"
            width="50"
            height="50" />
    </a>
    <a href="https://djs.place">
        <iconify-icon 
            icon="simple-icons:discord" 
            width="50" 
            height="50"/>
    </a>
    <a href="https://twitter.com/DeJayDev">
        <iconify-icon 
            icon="simple-icons:signal" 
            width="50" 
            height="50"/>
    </a>
    <a href="https://twitter.com/DeJayDev">
        <iconify-icon 
            icon="simple-icons:x" 
            width="50" 
            height="50"/>
    </a>
</div>

<style>
    .contact {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-top: 5%;
        justify-content: center;
    }

    iconify-icon {
        color: white;
        transition: transform .33s ease-in-out;
    }

    iconify-icon:hover {
        transform: translateY(-25%);
    }
</style>