---

---

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"/>

<div class="warning">
    <noscript>
        Howdy! This website was made with you in mind. Feel free to keep JS disabled. <br>
        You'll just have to scroll to the bottom without help :)
    </noscript>
</div>

<div class="content">
    <img class="topsvg" src="/sprite.svg" />
    <h1>
        Hi! I'm Dj
        <span class="subtitle">I make dreams come true </span>
    </h1>

    <h2>Let's get to know each other </h2>

    <iconify-icon
        icon="heroicons:chevron-double-down-20-solid" 
        width="50" 
        height="50"/>
</div>

<script>
    const scrolltrigger: HTMLElement = document.querySelector("iconify-icon") as HTMLElement
    const scrolldest    = document.querySelector(".about")

    scrolltrigger?.addEventListener('click', () => {
        scrollTo({top: scrolldest?.scrollHeight, behavior: 'smooth'})
    })
</script>

<style>
    .content {
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 50%;
    }

    .subtitle {
        display: block;    
    }

    iconify-icon {
        cursor: pointer;
        margin: 10px;
    }

    h1 {
        text-align: center;
        font-size: 50px;
        margin: 0;
        padding: 0;
        padding-top: 50px;
    }

    h2 {
        font-weight: 100;
    }
</style>