---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    	--c-white: #EFEFEF;
    	--c-purple: #9777C2;
    	--c-dpurple: #8a65ba;
	}

	::-webkit-scrollbar {
	    width: 12px;
	    height: 12px;
	}

	::selection, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
	    background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
	    background-color: var(--c-dpurple);
	}
	
	html, 
	body {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		color: var(--c-white);
    	background-color: var(--c-purple);
		background-size: 224px;
		scrollbar-color: var(--c-dpurple) black;
    	scrollbar-width: thin;
	}
</style>
